
body{
background-color:#F0F8FF;}
#wrapper{
background-color:#009999;
padding:30px;
opacity:0.6;
margin-top:10%;
}
.F{
font-size:20px;
font-family:"comic Sans MS";
font-weight:bold;
color:#000000;
}
.F2{
font-family:Verdana, Arial, Helvetica, sans-serif;
}


